[Unit]
Description=E-Ink Flag Flask API
After=network-online.target
Wants=network-online.target

[Service]
User=root
WorkingDirectory=/home/chris/Flags
ExecStart=/usr/bin/python3 /home/chris/Flags/run.py
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target